# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# css
/styles/*.css
src/styles/LoggedInLayout.css
src/styles/LoggedInLayout.css.map
src/styles/LoginPage.css
src/styles/LoginPage.css
src/styles/LoginPage.css
src/styles/Task.css
src/styles/Task.css.map
src/styles/TasksList.css
src/styles/TasksList.css.map
src/styles/LoginPage.css
