.logged-in-layout{
    display: flex;
    align-items: stretch;
    flex: 1;
    .navbar{
        display: flex;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        .list{
            flex: 1;
            display: flex;
            flex-direction: column;
            h3{
                text-align: center;
            }
            .task-list{
                flex: 1;
                overflow: auto;
            }

        }
    }
    .content{
        flex: 1;
        padding-top: 1rem;
    }
}