.tasks-list{
    flex: 1;
    .header{
        display: flex;
        .title{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px #8f8f8f solid;
        }        
    }
    
}